/* 0.1 Defaults and typography */
body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f4f5;
}


/* 1.2 Navigation */

#navWrapper {
  position: absolute;
  width: 100%;
  z-index: 100000;
  background-image: url($background-image);
}

nav {
  z-index: 10000;
  margin: 45px auto 34px auto;

  ul {
    list-style: none;
    background: transparent;
    overflow: hidden;
    color: #fff;
    padding: 0 0 0 160px;
    transition: 1s;

    li {
      display: inline-block;
      padding: 10px 16px;;
    }
  }

  #logo {
    position: fixed;
    font-size: 20px;

    #symcon_logo {
      width: 160px;
      height: 26px;
      vertical-align: bottom;
    }

    .cls-sym {
      fill: #fff;
    }
  }
  a {
    transition: color .5s;
    &:visited {
      color: #fff!important;
      text-decoration: none;
    }
    &:hover {
      color: #417394!important;
      text-decoration: none;
    }
    &.active {
      color: #fff!important;
      font-weight: bold;
      text-decoration: none;
    }
  }
}


#search-ani:hover, .header-icon:hover a:hover {
  color:#32c9ac;
  text-decoration: none;
}

#searchbox {
  display: none;
}

nav ul li a {
  font-weight:300;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
}

#search-ani, .header-icon{
  font-weight:300;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: color .5s;
}

nav ul li a.active {
  font-weight:700;
  font-size: 16px;
}

#mobile-nav-open, #mobile-nav-close{
  color:#fff;
  position: absolute;
  right:0px;
  margin:0px 20px;
  display:none;
  font-size:25px;
  cursor: pointer;
}

#mobile-nav-close{z-index:9999 !important;}

.menu{
  display:inline;
}


/* 10 Discourse specific */

#main {
  background: #f3f4f5 url($background-image);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: right top;
}

div#main-outlet {
  position: relative;
  padding-top: 150px;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: black;
  background: rgba(255,255,255,0.5);
}

header,
header.d-header {
  height: 130px;
  background: rgb(7,15,36);
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 100% auto;
  position: fixed;
}

.d-header-icons .d-icon {
  color: #fff;
}

.topic-status-info,
.post-links-container .post-links,
.topic-avatar,
.topic-body {
  border: none;
}


a {
  &:visited {
    color: rgb(7,15,36)!important;
    text-decoration: none;
  }
  &:hover {
    color: rgb(7,15,36)!important;
    text-decoration: none;
  }
  &:active {
    color: rgb(7,15,36)!important;
    text-decoration: none;
  }
}

.extra-info-wrapper {
  margin-left: 200px;

  .title-wrapper {
    color: #fff;

    .topic-statuses .d-icon,
    .badge-wrapper.bullet span.badge-category,
    .topic-statuses,
    .topic-link {
      color: #fff!important;
    }
  }
}
/* FIXME: I bet we can do this outside the theme */
#site-logo {
  display: none;
}