/* 0.1 Defaults and typography */
body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f4f5;
}


/* 10 Discourse specific */

#main {
  background: #f3f4f5 url($background-image);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: right top;
}

div#main-outlet {
  position: relative;
  padding-top: 150px;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: black;
  background: none;
}

header,
header.d-header {
  height: 130px;
  background: rgb(7,15,36) url($background-image);
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
